:root {
  --blue-color: #00acdc;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo__link {
  height: 60px;
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item {
  margin-right: 20px;
  text-align: center;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  line-height: 100%;
  color: #000;
}

.nav__link:hover {
  color: var(--blue-color);
}

.is-active {
  color: var(--blue-color);
}

.nav__link.is-active::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background: var(--blue-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
